# Ignorer tout par défaut
*

# Mais garder les dossiers data et src
!data/
!data/**

!src/
!src/**

# Garder aussi le .gitignore lui-même
!.gitignore

# Garder le README
!README.md


.vscode/
.DS_Store
.env
.lib/ 
.platerformio.ini
.pio

Couple au démarrage, amélioration trigger